---
import "./global.css"
import Logo from "./components/logo.astro";
import Navbar from "./components/navbar.astro"
import NavLink from "./components/navlink.astro"
import Transitions, { innerTransition, pageTransition } from "./components/transitions.astro";

const {frontmatter} = Astro.props;
---

<!DOCTYPE html5>
<html lang="en" dir="ltr">
	<head>
		<title>{!frontmatter.hidePageTitle && frontmatter.title ? `${frontmatter.title} - LbsLightX` : "LbsLightX"}</title>
		{frontmatter.description && <meta name="description" content={frontmatter.description}>}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<Transitions/>
	</head>
	<body>
		<div id="header" transition:persist transition:animate="none">
			<Logo/>
			<Navbar>
			  <NavLink href="/cryptid/">home</NavLink>
				<NavLink href="/cryptid/projects">projects</NavLink>
				<NavLink href="/cryptid/code">code</NavLink>
				<NavLink href="/cryptid/contact">contact</NavLink>
				{/* <NavLink href="https://" rel="me">fedi</NavLink> */}
			</Navbar>
		</div>
		<div id="body" transition:animate={innerTransition}>
			<div>
				{frontmatter.title && <h1>{frontmatter.title}</h1>}
				<slot/>
			</div>
		</div>
	</body>
</html>